@model AudioBooks.Web.Models.UserInfoViewModel

@{
    ViewData["Title"] = "User Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Information</h1>
<h4>Logged in Information Sourced from the IDP</h4>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FamilyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
