@model IEnumerable<AudioBooks.Model.LookupItemModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordOwnerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecordOwnerId)
            </td>
            <td>

                @Html.ActionLink("Edit", "EditAuthor", "Author",
               new { id = item.Id, name = item.Name, description = item.Description },
               new { @class = "btn btn-outline-info" })

                |

                @using (Html.BeginForm("DeleteAuthor", "Author"))
                {
                    @Html.AntiForgeryToken()
                    <div class="button-container row">
                        <div class=" ">
                            <button type="submit" class="btn btn-outline-warning"><i class="fa fa-cross"></i> Delete</button>
                        </div>
                    </div>
                }

            </td>
        </tr>
        }
    </tbody>
</table>

